<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gom.s1.bankbook.BankBookDAO">
	<select id="list" resultType="BankBookDTO">
		SELECT * FROM BANKBOOK
	</select>

	<insert id="add" parameterType="BankBookDTO">
		INSERT INTO BANKBOOK (BOOKNUMBER, BOOKNAME, BOOKCONTENTS, BOOKRATE, BOOKSALE)
		VALUES (BANKBOOK_SEQ.NEXTVAL, #{bookName}, #{bookContents}, #{bookRate}, #{bookSale})
	</insert>

	<select id="detail" parameterType="BankBookDTO" resultType="com.gom.s1.bankbook.BankBookDTO">
		SELECT * FROM BANKBOOK WHERE BOOKNUMBER=#{bookNumber}
	</select>

<!-- 	<select id="detail" parameterType="java.lang.Long" resultType="com.gom.s1.bankbook.BankBookDTO">
		SELECT * FROM BANKBOOK WHERE BOOKNUMBER=#{num}
	</select> -->
	
	<delete id="delete" parameterType="BankBookDTO"> <!-- id는 DAO의 메서드명 -->
		DELETE BANKBOOK WHERE BOOKNUMBER=#{bookNumber}
	</delete>

</mapper>
